// ___________________________________________________________________
// Global Config
// ___________________________________________________________________

//Font Stack
$font-family--primary: 'Big Shoulders Display', cursive;
$font-family--secondary: 'Outfit', sans-serif;

// Font Weights
$font-weight--black: 900;
$font-weight--bold: 800;
$font-weight--light: 300;

// Colors
$almost-black: #{'hsl(0, 0%, 8%)'};
$dark-gray: #{'hsl(0, 0%, 27%)'};
$gold: #{'hsl(24, 56%, 63%)'};
$white: #{'hsl(0, 0%, 100%)'};

// Color Usage
$color-primary: $white;
$color-secondary: $almost-black;
$color-tertiary: $dark-gray;
$color-accent: $gold;

// Text
$headingXL: 6rem;
$headingL: 4.375rem;
$headingM: 3.75rem;
$headingS: 3.125rem;
$headingXS: 2.25rem;
$body__medium: 1.375rem;
$body__small: 1.125rem;
$link: 1.25rem;

// Line Height
$line-heightXL:0.9;
$line-heightM: 0.8;
$line__bodyM: 1.4;
$line__bodyS: 1.5;
$line__link: 1.2;
$line-height__default: 1;  

// Padding-Inline for Container
$pad-in__S: 1rem;
$pad-in__M:  2.5rem;
$pad-in__L: 10.25rem;

// Breakpoints
$brkpoint-md: '(min-width: 48rem)';
$brkpoint-lg: '(min-width: 79.6875rem)';
$brkpoint-xl: '(min-width: 90rem)';
