// ___________________________________________________________________
// Containers
// ___________________________________________________________________

@use '../utilities/variables' as *;

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media #{$brkpoint-md} {
    grid-template-columns: 1fr 1fr;
  }

  @media #{$brkpoint-lg} {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 90rem;
  }

  @media #{$brkpoint-xl} {
    margin-inline: auto;
  }
}

// Location Containters
.map-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media #{$brkpoint-lg} {
    margin-inline: auto;
    max-width: 90rem;
  }
}

.map-container {
  display: block;
  position: relative;
  width: 100%;
}

.map-container__heading {
  background-color: $color-secondary;
  padding-inline: $pad-in__S;
  width: 100%;

  @media #{$brkpoint-md} {
    display: flex;
    justify-content: space-between;
    padding-inline: $pad-in__M;
  }

  @media #{$brkpoint-lg} {
    padding-inline: $pad-in__L;
  }
}
