// ___________________________________________________________________
// Footer
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

footer {
  background-color: $color-secondary;

  a {
    color: $color-primary;
  }

  a svg {
    fill: currentColor;
  }

  .map-footer {
    background-color: $color-accent;

    a {
      color: $color-secondary;
    }

    a svg {
      fill: currentColor;
    }
  }
}

.main-footer,
.map-footer {
  padding: 3rem 2.375rem;
  width: 100%;

  .logo {
    margin-bottom: 2.5rem;
  }

  address {
    @include text(0.975rem, $font-weight--light, $color-primary);
    font-family: $font-family--secondary;
    font-style: normal;
    line-height: 1.6;
    margin-bottom: 2.375rem;
  }

  address.map-address {
    color: $color-secondary;
  }
}

.social__list {
  display: flex;
  gap: 1.25rem;
}
