// ___________________________________________________________________
// Hero Section Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.hero {
  @media #{$brkpoint-md} {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 21.875rem 21.875rem;
    grid-column: span 2;
    margin-bottom: 7.5rem;
    width: 100%;
  }

  @media #{$brkpoint-lg} {
    background: linear-gradient(90deg, $color-secondary 65%, $color-primary 35%);
    grid-column: span 3;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 25rem 25rem;
    height: 50rem;
    min-width: 69.375rem;
    margin: 0 auto 11.25rem auto;
    max-width: 90rem;
    padding-inline: $pad-in__L;
  }
}

.hero__image {
  margin: 0 auto;

  @media #{$brkpoint-md} {
    grid-row: span 2;
    grid-column: 1;
  }

  @media #{$brkpoint-lg} {
    grid-column: 2;
  }
}

.hero__image img {
  @include size(100%, 15rem);
  aspect-ratio: 9 / 21;
  display: block;
  object-fit: cover;

  @media #{$brkpoint-md} {
    @include size(auto);
  }
}

.hero-subheading {
  margin-bottom: 7.5rem;
  padding-inline: $pad-in__S;

  @media #{$brkpoint-md} {
    grid-column: 2;
    grid-row: 2;
    margin: -1.75rem 0 0 -3rem;
    padding: 0;
  }

  @media #{$brkpoint-lg} {
    grid-column: 3;
    grid-row: 1 / span 2;
    margin: 0 0 0 -4.5rem;
    padding: 11.875rem 0 0 0;
  }
}

.hero__text {
  margin-bottom: 2rem;

  @media #{$brkpoint-md} {
    margin-bottom: 3rem;
    width: 30ch;
  }

  @media #{$brkpoint-lg} {
    margin-bottom: 4rem;
    width: 24ch;
  }
}

.hero__heading {
  margin: 0 1rem 2rem 1rem;
  padding-top: 2rem;

  @media #{$brkpoint-md} {
    grid-column: 2;
    grid-row: 1;
    margin: 0 0 0 -3rem;
    padding-top: 9.0625rem;
  }

  @media #{$brkpoint-lg} {
    color: $color-primary;
    grid-column: 1;
    margin: 0 -12.75rem 0 0;
    mix-blend-mode: difference;
    padding-top: 11.875rem;
    width: 10ch;
  }
}
