// ___________________________________________________________________
// Main - Gallery Section Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.gallery {
  margin-bottom: 7.5rem;
  padding-inline: 1rem;

  @media #{$brkpoint-md} {
    grid-column: span 2;
    padding-inline: 2.5rem;
  }

  @media #{$brkpoint-lg} {
    grid-column: span 3;
    padding-inline: 10.25rem;
  }
}

.gallery__heading {
  padding-top: 1.5625rem;
  margin-bottom: 1.5625rem;

  @media #{$brkpoint-md} {
    padding-top: 2.25rem;
    margin-bottom: 1.5rem;
  }
}

.collection-1__image img {
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: contain;
  width: 100%;

  @media #{$brkpoint-lg} {
    aspect-ratio: 3 / 2;
  }
}

.collection-1__text {
  @media #{$brkpoint-md} {
    flex-basis: 35%;
  }
}

.art-collection-1 {
  margin-bottom: 2rem;

  @media #{$brkpoint-md} {
    display: flex;
    flex-direction: row-reverse;
    gap: 4.25rem;
    margin-bottom: 0.6875rem;
  }
}

.art-collection-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;

  @media #{$brkpoint-md} {
    grid-template-columns: 1fr 280px;
    column-gap: 0.6875rem;
    row-gap: 0.6875rem;
  }
}

.collection-2__image-1 img,
.collection-2__image-2 img {
  display: block;
  object-fit: fill;
  width: 100%;
}

.collection-2__image-1 img {
  aspect-ratio: 343 / 480;
  object-fit: fill;

  @media #{$brkpoint-md} {
    aspect-ratio: 398 / 720;
    object-fit: cover;
    height: 45rem;
    width: 100%;
  }
}

.collection-2__image-2 img {
  aspect-ratio: 16 / 9;
  margin-bottom: 1rem;

  @media #{$brkpoint-md} {
    aspect-ratio: 280 / 313;
    margin-bottom: 0.6875rem;
  }
}

.collection-2__text {
  background-color: $color-secondary;
  height: 18.3125rem;
  padding-inline: 1.5rem;
  width: 100%;

  @media #{$brkpoint-md} {
    height: 24.75rem;
    padding-inline: 1.75rem;
  }
}

.collection-2__text h2,
.collection-2__text p {
  color: $color-primary;
}

.collection-2__text h2 {
  padding-top: 3rem;
}
