// ___________________________________________________________________
// Main - Section Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.hero {
  @media #{$brkpoint-md} {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-column: span 2;
    margin-bottom: 7.5rem;
  }
}

.hero__image {
  margin: 0 auto;
}

.hero__image img {
  aspect-ratio: 9 / 21;
  display: block;
  height: 15rem;
  object-fit: cover;
  width: 100%;

  @media #{$brkpoint-md} {
    height: auto;
    width: auto;
  }
}

.hero-subheading {
  padding-inline: 1rem;
  margin-bottom: 7.5rem;

  @media #{$brkpoint-md} {
    margin-bottom: 0;
    margin-left: -3rem;
    padding-inline: 0;
    padding-right: 3rem;
  }
}

.hero__heading,
.hero__text {
  margin-bottom: 2rem;

  @media #{$brkpoint-md} {
    margin-bottom: 3rem;
  }
}

.hero__heading {
  margin-inline: 1rem;
  padding-top: 2rem;

  @media #{$brkpoint-md} {
    margin-left: -3rem;
    padding-top: 9.0625rem;
  }
}

.gallery {
  margin-bottom: 7.5rem;
  padding-inline: 1rem;

  @media #{$brkpoint-md} {
    grid-column: span 2;
    padding-inline: 2.5rem;
  }
}

.gallery__heading {
  padding-top: 1.5625rem;
  margin-bottom: 1.5625rem;

  @media #{$brkpoint-md} {
    padding-top: 2.25rem;
    margin-bottom: 1.5rem;
  }
}

.collection-1__image img {
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: contain;
  width: 100%;
}

.collection-1__text {
  @media #{$brkpoint-md} {
    flex-basis: 35%;
  }
}

.art-collection-1 {
  margin-bottom: 2rem;

  @media #{$brkpoint-md} {
    display: flex;
    flex-direction: row-reverse;
    gap: 4.25rem;
    margin-bottom: 0.6875rem;
  }
}

.art-collection-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;

  @media #{$brkpoint-md} {
    grid-template-columns: 1fr 280px;
    column-gap: 0.6875rem;
    row-gap: 0.6875rem;
  }
}

.collection-2__image-1 img,
.collection-2__image-2 img {
  display: block;
  object-fit: fill;
  width: 100%;
}

.collection-2__image-1 img {
  aspect-ratio: 343 / 480;
  object-fit: fill;

  @media #{$brkpoint-md} {
    aspect-ratio: 398 / 720;
    object-fit: cover;
    height: 45rem;
    width: 100%;
  }
}

.collection-2__image-2 img {
  aspect-ratio: 16 / 9;
  margin-bottom: 1rem;

  @media #{$brkpoint-md} {
    aspect-ratio: 280 / 313;
    margin-bottom: 0.6875rem;
  }
}

.collection-2__text {
  background-color: $color-secondary;
  height: 18.3125rem;
  padding-inline: 1.5rem;
  width: 100%;

  @media #{$brkpoint-md} {
    height: 24.6875rem;
    padding-inline: 1.75rem;
  }
}

.collection-2__text h2,
.collection-2__text p {
  color: $color-primary;
}

.collection-2__text h2 {
  padding-top: 3rem;
}

// Location Styles
.map-container img {
  display: block;
}

.map__heading {
  @include text($headingS, $font-weight--black, $color-primary);
  padding: 3rem 0;
}

.map-container__heading > h2 {
  @include text(2rem, $font-weight--black, $color-accent);
  font-style: normal;
  line-height: $line-height__default;
  margin-bottom: 1.25rem;
}

.map-container__heading > address {
  @include text($body__small, $font-weight--light, $color-primary);
  font-family: $font-family--secondary;
  font-style: normal;
  line-height: $line__bodyS;
  margin-bottom: 1.25rem;
}

.map__text {
  @include text($body__small, $font-weight--light, $color-primary);
  padding-bottom: 3.5rem;
}
