// ___________________________________________________________________
// Main - Gallery Section Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.gallery {
  margin-bottom: 7.5rem;
  padding-inline: $pad-in__S;

  @media #{$brkpoint-md} {
    grid-column: span 2;
    padding-inline: $pad-in__M;
  }

  @media #{$brkpoint-lg} {
    grid-column: span 3;
    margin: 0 auto 11.25rem auto;
    max-width: 90rem;
    padding-inline: $pad-in__L;
  }
}

.gallery__heading {
  margin-bottom: 1.5625rem;
  padding-top: 1.5625rem;

  @media #{$brkpoint-md} {
    margin-bottom: 1.5rem;
    padding-top: 2.25rem;
  }

  @media #{$brkpoint-lg} {
    margin-bottom: 2rem;
  }
}

.line-break::after {
  content: '\a';
  white-space: pre;

  @media #{$brkpoint-lg} {
    content: '';
    white-space: normal;
  }
}

.collection-1__image img {
  @include size(100%);
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: cover;

  @media #{$brkpoint-lg} {
    aspect-ratio: 3 / 2;
    height: 25rem;
  }
}

.collection-1__text {
  h2 {
    @media #{$brkpoint-lg} {
      width: 10ch;
    }
  }

  p {
    @media #{$brkpoint-lg} {
      width: 24ch;
    }
  }

  @media #{$brkpoint-md} {
    flex-basis: 35%;
  }
}

.art-collection-1 {
  margin-bottom: 2rem;

  @media #{$brkpoint-md} {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4.25rem;
    margin-bottom: 0.6875rem;
  }

  @media #{$brkpoint-lg} {
    margin-bottom: 1.875rem;
  }
}

.art-collection-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;

  @media #{$brkpoint-md} {
    grid-template-columns: 1fr 17.5rem;
    column-gap: 0.6875rem;
    row-gap: 0.6875rem;
  }

  @media #{$brkpoint-lg} {
    grid-template-columns: 1fr 27.8125rem;
    column-gap: 1.875rem;
    row-gap: 1.875rem;
  }
}

.collection-2__image-1 img,
.collection-2__image-2 img {
  display: block;
  object-fit: fill;
  width: 100%;
}

.collection-2__image-1 img {
  aspect-ratio: 2 / 3;

  @media #{$brkpoint-md} {
    object-fit: cover;
    height: 45rem;
  }

  @media #{$brkpoint-lg} {
    height: auto;
    width: auto;
  }
}

.collection-2__image-2 img {
  aspect-ratio: 16 / 9;
  margin-bottom: 1rem;

  @media #{$brkpoint-md} {
    height: 19.5625rem;
    margin-bottom: 0.6875rem;
  }

  @media #{$brkpoint-lg} {
    aspect-ratio: 3 / 2;
    margin-bottom: 1.875rem;
  }
}

.collection-2__text {
  background-color: $color-secondary;
  height: 18.3125rem;
  padding-inline: 1.5rem;
  width: 100%;

  @media #{$brkpoint-md} {
    height: 24.75rem;
    padding-inline: 1.75rem;
  }

  @media #{$brkpoint-lg} {
    height: 23.5625rem;
    padding-inline: 3rem;
  }
}

.collection-2__text h2,
.collection-2__text p {
  color: $color-primary;
}

.collection-2__text h2 {
  padding-top: 3rem;

  @media #{$brkpoint-lg} {
    padding-top: 4.0625rem;
  }
}
