// ___________________________________________________________________
// Button Links
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.hero-subheading a,
.map-container a {
  background-color: $color-secondary;
  display: flex;
  justify-content: space-between;
  min-width: 16.75rem;
  max-width: 17.25rem;

  .text {
    align-self: flex-start;
    padding: 1.5rem 2rem;
  }

  .icon {
    align-self: flex-end;
    background-color: $color-accent;
    padding: 1.5rem;
  }

  .icon img {
    @include size(0.5rem, 1.5rem);
  }

  &:hover {
    background-color: $color-accent;
  }

  &:hover .icon {
    background-color: $color-secondary;
  }
}

.map-container a {
  position: absolute;
  z-index: 2;

  @media #{$brkpoint-md} {
    left: 2.5rem;
  }

  @media #{$brkpoint-lg} {
    left: 9.75rem;
  }
}
