// ___________________________________________________________________
// Button Links
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.hero-container a,
.map-container a {
  background-color: $color-secondary;
  display: flex;
  justify-content: space-between;
  max-width: 17rem;

  .text {
    align-self: flex-start;
    padding: 1.5rem 2rem;
  }

  .icon {
    align-self: flex-end;
    background-color: $color-accent;
    padding: 1.5rem;
  }

  &:hover {
    background-color: $color-accent;
  }

  &:hover .icon {
    background-color: $color-secondary;
  }
}

.map-container a {
  position: absolute;
}
